$font-family-base: 'Inter', sans-serif;
$font-size-xl: clamp(1.62rem, 1.4551rem + 0.8247vw, 2.1973rem);
$font-size-lg: clamp(1.35rem, 1.2335rem + 0.5826vw, 1.7578rem);
$font-size-md: clamp(1.125rem, 1.0446rem + 0.4018vw, 1.4063rem);
$font-size-sm: clamp(0.7813rem, 0.7473rem + 0.1696vw, 0.9rem);
$font-size-xs: clamp(0.651rem, 0.6313rem + 0.0985vw, 0.72rem);
$font-weight-bold: 700;
$font-weight-semi: 600;
$font-weight-regular: 400;
$font-size-modal-title: 2rem;
$font-size-modal-subtitle: 1rem;
$font-size-button: 1rem;
$font-size-input: 0.95rem;