@if (isMobile()) {

} @else {
    @if (isOpen) {
        <section class="add-contacts-section">
            <div class="card-wrapper">
                <div class="add-content">
                    <div class="left-container">
                        <div class="left-content">
                            <img class="Logo-White" src="/icons/join-logo-white.svg" alt="logo" />
                            <h2>Add contact</h2>
                            <h3>Tasks are better with a team!</h3>
                            <img class="underline" src="/img/Card_Contacts/Vector%205.png" alt="logo" />
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
}
